<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nuevuew</title>
  <!-- CSS files for Bootstrap -->

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
  <link href="https://fonts.googleapis.com/css?family=Crete+Round|Raleway" rel="stylesheet">

  <!-- prath@joinhorizons.com
  password: password -->
  <link rel="stylesheet" href="/stylesheets/eventSwipe.css">
</head>
<body>

  {{#each eventsQueue}}
<!--   <div class="eventcontainer">
    <img src="http://www.destinationsrilankatours.com/wp-content/uploads/2015/03/rafting.jpg" style="height: 100vh width:100vw ">
  </div> -->
  <div class="maincontainer">
    <div class="row">
      <div class="col-md-4 col-lg-4 ">
        <div class="leftcontainer">
          <h1 class="maintitle">Join an adventure</h1>  
          <!-- <button name="leftSwipe" class="likeOrDislike" style="background-color: transparent; border: transparent"><img src="arrow1.png" ></button>  -->
        </div>
      </div>
      
      <div class="col-md-4 col-lg-4">
        <div class="well">
      
          <div class="adventurecontainer">
            <a href="/event/58a79dfd661e933498faa4e0">
            <div class="adventureimage">
              <img src="{{this.image}}" class="pic1" style="width: 100%; height:350px; border-radius: 5px 5px 0px 0px background-size: contain;">
            </div>
             </a>
            <img src="{{this.video}}" class="profileimage">
            <div class="adventurebottom">
              <h3 class="adventuretitle">{{this.title}}</h3>
              <p>{{this.description}}</p>
              <div class="adventurefooter">
                <div class="col-md-4 ">
                  <h3 class="adventuredate">COST: {{this.price}}</h3>
                </div>
                <div class="col-md-4">
                  <h3 class="adventuretime">{{this.startTime}}</h3>
                </div>
                <div class="col-md-4">
                  <h3 class="adventuregoing">GOING: {{this.usersAttending.length}}</h3>
                </div>
              </div>
              <div class="likedislike">
                <div class="col-md-6">
                  <button type="button" name="like" class="btn btn-success">Like</button>
                </div>
                <div class="col-md-6">
                  <button type="button" name="dislike" class="btn btn-danger">Dislike</button>
                </div>
              </div>
            </div>
          </div>
       
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="rightcontainer">
          <!-- <button name="rightSwipe" class="likeOrDislike" style="background-color: transparent; border: transparent"><img src="arrow2.png" ></button> -->
          <h1 class="maintitle">Meet new friends</h1>
        </div>
      </div>
    </div>
    </div>
    <script>

      // $('.likeOrDislike').on('click', function(){
      //   var data= {swipe: $(this).attr('name')};
      //   data.swipe=$(this).attr('name')

      //   $.ajax({
      //     url: 'likes/'+{{this._id}},
      //     method: 'post',
      //     data: data,
      //     success: function(res){
      //       console.log(res)
      //     }
      //   })
      // });


      

    </script>
    {{/each}}
  </div>
</div>
</div>

<script
src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script>


  // $("button").click(function(){
  //
  // });
  var count = 1

  $(".likedislike").on('click', function(){
    // $('.maincontainer').hide();
    // $(this).closest('.maincontainer')next().show();
    // console.log("******************")
      var viewHeight = $(window).height();
      // console.log(viewHeight);
        $('html, body').animate({
          scrollTop: viewHeight*count
        }, 1500);
        count++;
        var eventId = $(this).attr('id');
        console.log(eventId);

        var data = {};
        data.swipe=$(this).attr('name')
        // console.log(eventId);

        $.ajax({
          url: '/likes/'+eventId,
          method: 'post',
          data: data,
          success: function(res){
            console.log(res)
          }
        });
      });


  // $("likedislike").click(function() {
  //  $('html,body').animate({ scrollTop:$(this).parent().next().offset().top}, 'slow');});

  // $("likedislike").click(function(){
  //       $('html, body').animate({
  //         scrollTop: $(".maincontainer").offset().top
  //       }, 2000);
  //     });

</script>

<!-- Your script file -->
<script type="text/javascript" src="./js/script.js"></script>
<!-- UnderscoreJS Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- JavaScript files for Bootstrap -->
<!-- UNCOMMENT IF NEEDED -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>